.flex {
  display: flex;
  &_sb {
    justify-content: space-between;
  }
  &_aic {
    align-items: center;
  }
  @media(min-width: 768px) {
    &_jcfe-md {
      justify-content: flex-end;
    }
  }
}

.mrgb-10 {
  margin-bottom: -10px;
}

.slick-slider {
  background: inherit;
}
.slider-premium {
  display: flex!important;
  flex-wrap: wrap;
  padding: 45px;
  @media(max-width: 767px) {
    padding: 0;
  }
  &__item {
    padding: 5px;
    flex: 0 0 11.1%;
    width: 11.1%;
    position: relative;
    color: #ffffff;
    //max-height: 150px;
    &:hover {
      color: #ffffff;
      .slider-premium__info {
        opacity: 1;
        visibility: visible;
        z-index: 5!important;
        @media(max-width: 767px) {
          display: none;
        }
      }
    }
    &:focus {
      color: #ffffff;
    }
    @media(max-width: 767px) {
      flex: 0 0 33%;
      width: 33%;
    }
  }
  &__img {
    display: block;
    width: 100%;
    background-repeat: no-repeat!important;
    background-size: contain!important;
    position: relative;
    overflow: hidden; /* clearfix */
    background-position: 50% 50% !important;
    &:before {
      content: "";
      padding-top: 100%;
      float: left;
    }
  }
  &__title {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding-top: 5px;
    padding-bottom: 3px;
  }
  &__info {
    display: flex;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: -40px;
    left: -40px;
    background: rgba(0, 0, 0, .9);
    padding: 0 10px;
    width: 200px;
    height: 200px;
    flex-direction: column;
    border: 4px solid #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    border-radius: 3px;
    img {
      max-width: 170px;
      max-height: 150px;
    }
    @media(max-width: 767px) {
      display: none;
    }
  }
  &__price {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-bottom: 5px;
  }
  &__bg-box {
    margin-left: -10px;
    margin-right: -10px;
    background: #ffffff;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
  }
  &__bg {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat!important;
    background-size: contain!important;
    position: relative;
    overflow: hidden;
    background-position: 50% 50% !important;
  }
}

.arrow-slider {
  z-index: 1;
  position: absolute;
  bottom: -35px;
  right: 0;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #cccccc;
  color: #CCCCCC;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.fa-chevron-left {
    right: 40px;
    line-height: 1;
  }
  &:hover {
    color: #3b5998;
  }
}


.rating-control {
  display: inline-block;
  color: #ccc;
  label {
    font-family: 'FontAwesome';
    font-weight: 900;
    font-size: 0;
    display: inline-block;
    line-height: 1;
    float: right;
    cursor: pointer;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-right: 3px;
    &:before {
      content: '\f005';
      font-size: 18px;
    }
  }
  input {
    display: none;
    &:checked ~ label {
      background: linear-gradient(135deg, #4854a2, #772088);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &:hover {
    label {
      background: linear-gradient(135deg, #ccc, #ccc) !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
      &:hover {
        &, ~ label {
          background: linear-gradient(135deg, #4854a2, #772088) !important;
          -webkit-background-clip: text !important;
          -webkit-text-fill-color: transparent !important;
        }
      }
    }
  }
}

.star-imedia {
  white-space: nowrap;
  display: flex;
  align-items: center;
  .fa-star {
    padding-right: 3px;
    background: linear-gradient(135deg, #ccc, #ccc) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 18px;
    &.active {
      background: linear-gradient(135deg, #4854a2, #772088) !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
    }
  }
}